/*{BANNER}*/

body {
	background: #333;
    color: #fff;
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 16px;
}

h1 {
	font-size: 3.5em;
	font-weight: 300;
}

hr {
	border-color: #444;
}

.alert {
	margin-bottom: 0;
	font-weight: 700;
}

.alert h4 {
	margin: 0;
	font-size: 2em;
	font-weight: 700;
}

footer {
	font-size: 0.7em;
	text-align: center;
	margin: 40px 0;
}

label {
	font-size: 0.9em;
	font-weight: 300;
}

.form-title {
	margin: 10px 0;
	text-transform: uppercase;
	color: #999;
}

.form-control {
	border-color: #222;
}

.form-control:focus {
    border-color: #ccc;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,0,0,.6);
    		box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,0,0,.6);
}

.btn-primary {
    color: #fff;
    background-color: #555;
    border-color: #222;
}

.btn-primary:hover,
.btn-primary:focus {
	outline: none;
    color: #fff;
    background-color: #999;
    border-color: #222;
    -webkit-box-shadow: none;
    		box-shadow: none;
}

.modal {
	color: #333;
}

.alert-info {
    color: #fff;
    background-color: #999;
    border-color: #222;
}

.margin-top {
	margin-top: 20px;
}

.margin-bottom {
	margin-bottom: 20px;
}


.align-right {
	text-align: right;
}
